<div id="cart-pane" class="cart-pane">
    <h1>Your Cart</h1>
    <% if (!user) { %>
        <p>Please <a href="/login">log in</a> to view your cart.</p>
    <% } else if (cart && cart.books && cart.books.length > 0) { %>
        <% cart.books.forEach(function(book) { %>
            <div class="cart-item">
                <h2><%= book.title %></h2>
                <p class="price">Price: <%= book.price %></p>
                <form action="/carts/<%= book._id %>/deleteFromCart" method="post">
                    <button type="submit" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </div>
        <% }) %>
       <form action="/orders" method="get">
          <button class="btn btn-primary">Buy Books</button>
       </form>
    <% } else { %>
        <p>Your cart is empty.</p>
    <% } %>
</div>