<!DOCTYPE html>

<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/stylesheets/nav.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="..." defer></script>

</head>
<body>
<div class="container-fluid " style="background-color: black;">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-0">
            <h1 class="text-white fw-bold d-block">BOOK<span style="color: #5379fa">ERA</span></h1>
            <!-- Add toggle button-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <div class="navbar-nav ms-auto mx-xl-auto p-0">
                    <!-- Navbar links-->
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/books" class="nav-item nav-link">Books</a>
                    <% if (user && user.type === 'seller') {%>
                        <a href="/books/create" class="nav-item nav-link">Add Book</a>
                    <% } %>
                    <a href="/about" class="nav-item nav-link">About Us</a>
                </div>

                <div class="navbar-nav">
                    <% if (!user) { %>
                        <a href="/users/login" class="nav-item nav-link">Login</a>
                        <a href="/users/signup" class="nav-item nav-link">Signup</a>
                    <% } else { %>
                        <!-- Add a link to the user's profile page -->
                            <a href="/orders/mybooks" class="nav-item nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                </svg></a>
                            <a href="/users/<%= user._id %>" class="nav-item nav-link"> <%= user.username %> </a>
                            <a href="/users/logout" class="nav-item nav-link">Logout</a>
                            <% if (user.type === 'buyer')  { %>
                                <a href="#" id="cart-icon" class="nav-item nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                    </svg></a>
                            <% } %>
                    <% } %>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>

</html>