<!DOCTYPE html>
<div class="header">
    <div>Book<span>Era</span></div>
</div>
<br>
<head>
    <link rel="stylesheet" href="/stylesheets/logstyle.css" type="text/css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
        .background {
            position: absolute;
            background-size: cover;
            background-position: center;
            filter: blur(5px);
            z-index: -1;
        }
    </style>
</head>
<body>

    <div class="background">
        <img src="/images/b2.png" alt="">
    </div>
    <div class="login">
    <% if (user) { %>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/users/logout">LOG OUT</a>

    <% } else { %>
        <form action="/users/login" method="POST">
            <input name="username" placeholder="username" type="text" />
            <input name="password" placeholder="Password" type="password" />
            <button class="button-64" role="button"><span class="text">Log In</span></button>
        </form>
    <% } %>
</div>
</body>
