<!DOCTYPE html>
<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Book<span>Era</span></div>
</div>
<br>
<head>
    <link rel="stylesheet" href="/stylesheets/logstyle.css" type="text/css">
</head>
<body>
<div class="login">
    <% if (user) { %>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/users/logout">LOG OUT</a>
    <% } else { %>
        <form action="/users/login" method="POST">
            <input name="username" placeholder="username" type="text" />
            <input name="password" placeholder="Password" type="password" />
            <button>Log In</button>
        </form>
    <% } %>
</div>
</body>
</html>