<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookEra-Sign up</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link href="/stylesheets/templatemo-pod-talk.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h3>Sign up</h3>
    <form action="/users/signup" method="POST">
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="type">Type:</label><br>
        <select id="type" name="type" required>
            <option value="buyer">Buyer</option>
            <option value="seller">Seller</option>
        </select><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <input type="submit" value="Signup">
    </form>
</body>
</html>