<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookEra-Sign up</title>
    <link rel="stylesheet" href="/stylesheets/boot.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/log.css" type="text/css">

</head>
<style>
    body, html {
        margin: 0;
        overflow: hidden;

    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
</style>
<body>
<%- include('partials/navbar') %>

<div class="background">
    <img src="/images/b2.png" alt="">
</div>
<div class="header">
    <div style="font-weight: bold; position: relative;bottom: 60px">BOOK<span>ERA</span></div>
</div>
<div class="login">
    <% if (success.length > 0) { %>
        <div class="alert alert-success">
            <%= success %>
        </div>
    <% } %>
    <% if (error.length > 0) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>
    <form action="/users/signup" method="POST" style="position:relative;bottom: 110px">
        <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
        <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
            <select class="select" id="type" name="type" required>
                <option value="buyer" class="form-select">Buyer</option>
                <option value="seller" class="form-select">Seller</option>
            </select>
        <input type="text" id="address" name="address" placeholder="Address">
        <button class="button-64" role="button"><span class="text">Signup</span></button>

    </form>
        <p style="color: white;position:relative;bottom: 60px">Already have an account? <a href="/users/login" class="login_link">Login</a></p>
</div>
</body>
</html>