* {
    padding: 0;
    margin: 0;
}

#resizer {
    box-shadow: 0 0 8px #000;
    height: 500px;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;
    height: 100%;
    gap: 20px;
    color: black;
}

.preview {
    display: flex;
    margin: 20px;
    width: 90%;
    gap: 20px;
    color: black;
    max-height: 500px;
}

.description {
    padding: 10px;
    border: 1px solid gray;
    background-color: #d3d3d3;
    border-radius: 10px;
    height: auto;
    max-width: 500px;
}

.imgInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    gap: 10px;
    align-self: flex-start;
}

.btn {
    margin-top: 5px;
}

.stars {
    display: inline;
    font-size: 24px;
    cursor: pointer;

}

.rated {
    color: gold;
}
.fa-cart-plus{
    background:#5379fa;
}

.cart{
    border-radius:20px;
    border:white;
    font-size:20px;
    font-family: "Saira", sans-serif;
    position:relative;
    background:#5379fa;
    cursor:pointer;
    height: 50px;
    width: 170px;
    overflow:hidden;
    transition:transform 0.5s;
    z-index:1;
}
.cart:hover{
    transform:scale(1.1);
}
.pretext{
    color:#fff;
    background:#5379fa;
    padding-right: 5px;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
i{
    margin-right:10px;
}
.done{
    background: #0c442d;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:transform 0.3s ease;

    transform:translate(-110%) skew(-40deg);
}
.posttext{
    background:#be2edd;
}
.fa-check{
    background:#be2edd;
}