*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/ein39/image/upload/v1703100215/bookstore/assets/g7gr6yla0dvatskiyvw4.jpg');
    background-position: center;
    background-size: cover;

}
.content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size:70px;
    color: white;
}
.content h1 span{
    color: #5379fa;
}
.content p{
    font-weight: bold;
    line-height: 25px;
    font-size: 20px;
    color: darkgray;
}
.content button{
    background-color: transparent;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.content button span{
    background: linear-gradient(144deg,#5379fa, black 50%,white);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    transition: .3s;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.content button:hover span{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    transition: 0.5s;
}
.content button:hover{
    border: none;
}
@media only screen and (max-width: 768px) {
    .content{
        width: 100%;
        top: 60%;
    }
    .content h1 {
        font-size: 40px;
    }

    .content p {
        font-size: 16px;
    }

    .content button {
        width: 150px;
    }
}