@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);


.header{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header div{
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.header div span{
    color: #5379fa !important;
}

.login{
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.login input[type=text]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: rgba(255,255,255,0.6);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=password]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: rgba(255,255,255,0.6);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=text],
.login input[type=password] {
    padding: 16px; /* Increase inner padding */
}

.login input[type=text]::placeholder,
.login input[type=password]::placeholder {
    font-weight: 700; /* Make placeholder text more bold */
}


.login input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.6);
}

.login input[type=password]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.6);
}

::-webkit-input-placeholder{
    color: rgba(255,255,255,0.6);
}


.select {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: rgba(255,255,255,0.6);
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 13px;
    margin-top: 10px;
}
.select:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.6);
}

.button-64 {
    position: relative;
    top: 20px;
    align-items: center;
    background-image: linear-gradient(144deg,#5379fa, black 50%,white);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-64:active,
.button-64:hover {
    outline: 0;
    background-color: #5379fa;
    transform: scale(1.05);
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 10px 15px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

.login input[type=text],
.login input[type=password] {
    transition: padding 0.3s ease, font-weight 0.3s ease;
}
.login_link{
    color: #ffffff;
    font-weight: bold;
}
.login_link:hover {
    text-decoration: underline;
    color:  #5379fa;
    transform: rotateX(0deg);
    transition: .3s;
    opacity: 1;
}