
.card {
  height: 600px; /* Set a fixed height for the card */
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-out;
}

.card:hover {
  transform: scale(1.02); /* Adjust the scale factor for the zoom effect */
}
.card-img-overlay {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255 255 255 / 25%); /* Adjust the background color and opacity */
  backdrop-filter: blur(10px); /* Adjust the blur effect */
  transition: opacity 0.3s ease-out, backdrop-filter 0.3s ease-out;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.card-body {
  text-align: center;
}
.profile-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.profile-info p {
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

strong {
  font-weight: bold;
}

.cart-pane {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow: auto;
    background-color: #f1f1f1;
    transition: 0.5s;
}

.cart-pane.open {
    width: 300px;
}

