
.card {
  height: 600px; /* Set a fixed height for the card */
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-out;
}

.card:hover {
  transform: scale(1.02); /* Adjust the scale factor for the zoom effect */
}
.card-img-overlay {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255 255 255 / 25%); /* Adjust the background color and opacity */
  backdrop-filter: blur(10px); /* Adjust the blur effect */
  transition: opacity 0.3s ease-out, backdrop-filter 0.3s ease-out;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.card-body {
  text-align: center;
}
.profile-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.profile-info p {
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

strong {
  font-weight: bold;
}

.cart-pane {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow: auto;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 80px auto;
    /*padding: 20px;*/
    transition: 0.5s;
    z-index: 1;
    /* some border */
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    max-height: 90vh; /* Adjust this value as needed */
    overflow-y: scroll;

}
.cart-pane h5 {
    text-align: center;
}
.price{
    color: #b12704; /* Change this to the color you want for the price */
    font-weight: bold;
    text-align: center;
}
.cart-pane .close {
   border: none;
    float: right;
    transition: 0.3s;
}
.cart-pane .close:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.cart-pane.open {
    width: 300px;
    padding : 20px;
}
.buy-btn {
    background-color: #4CAF50; /* Green */
    border: #4CAF50;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    transition: 0.3s;
}
.buy-btn:hover {
    background-color: #3e8e41; /* Green */
    border: #3e8e41;

}
.cart-item {
    background-color: #f0f0f0; /* Change this to the color you want for the card background */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.cart-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.cart-item h2 {
    margin-bottom: 10px;
}

.cart-item p {
    margin-bottom: 10px;
}

.cart-item .price {
    color: black; /* Change this to the color you want for the price */
    font-weight: bold;
    text-align: left;
}
.checkout {
    padding: 1em 0;
    border-bottom: 1px solid #D0D0D0;
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.checkout h1 {
    font-size: 2em;
    float: left;
}
.continue{
    &:link , &:visited {
        margin: 0 0 0 1em;
        text-decoration: none;
        letter-spacing: -.015em;
        font-size: .75em;
        padding: 1em;
        color: #fff;
        background: #5379fa;
        font-weight: bold;
        border-radius: 50px;
        float: right;
        text-align: right;
        transition: 0.3s;
    }
}
.continue:hover {

    background: black;
}
.checkout-item {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 1.5em;
    border-bottom: 1px solid black;
}
.checkout-item-info {
    display: table;
    width: 100%;
}
.cartSection {
    display: table-cell;
    vertical-align: middle;
}
.cartSection .itemIsbn {
    font-size: 0.8em;
    color: #777;
    margin-bottom: 0.5em;
}
.cartSection img {
   width: 8em;
    float: left;
    margin-right: 1em;
}
.cartSection h3{
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
.cartSection .stockStatus {
    color: #82CA9C;
    font-weight: bold;
    padding: 0.5em 0 0 1em;
    text-transform: uppercase;
}
.prodTotal .cartSection {
    text-align: center;
}
.cartSection button{
    border: none;
    float: right;
    transition: 0.3s;
}
.cartSection button:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.subtotal {
    float: right;
    width: 35%;
    .totalRow {
        padding: .5em;
        text-align: right;
        &.final {
            font-size: 1.25em;
            font-weight: bold;
        }
        span {
            display: inline-block;
            padding: 0 0 0 1em;
            text-align: right;

        }
        .label {
            font-size: .85em;
            text-transform: uppercase;
            color: #777;
        }
    }
}
.checkout-button {
    margin: 0 0 0 1em;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 30px;
    color: #fff;
    background: #5379fa;
    border: none;
    border-radius: 50px;
    float: right;
    text-align: right;
    transition: 0.3s;
}
.checkout-button:hover {
    background: black;
}
@media only screen and (max-width:39.375em){

    .wrap {
        width: 98%;
        padding: 2% 0;
    }
    .projTitle{
        font-size: 1.5em;
        padding: 10% 5%;
    }
    .heading {
        padding: 1em;
        font-size: 90%;
    }
    .cart {
        .items {

            .cartSection {
                width: 90%;
                display: block;float: left;
                &.qtyWrap {
                    width: 10%;
                    text-align: center;
                    padding: .5em 0;
                    float: right;
                    &:before {
                        content: "QTY";
                        display: block;
                        padding: .25em;
                        font-size: .75em;
                    }
                }
                &.prodTotal , &.removeWrap {
                    display: none;
                }
                .itemImg {
                    width: 25%;
                }
            }
        }}
    .promoCode , .subtotal{
        width: 100%;
    }

    .checkout-button {
        width: 100%;
        text-align: center;
    }
}


