<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Checkout</h1>
<p>User: <%= user.username %></p>
<p>Balance: <%= user.wallet_amount %></p>
<p>Total Cost: <%= totalCost %></p>

<% if (canAfford) { %>
    <p>You have enough balance to purchase the books.</p>
<% } else { %>
    <p>You do not have enough balance to purchase the books.</p>
<% } %>
</body>
</html>